.content-wrapper {
  background-color: rgb(33, 37, 41);
  padding: 100px 100px;
  display: flex;
  justify-content: space-between;
  & .left {
    & h1 {
      color: #fff;
      font-size: 50px;
      max-width: 600px;
      font-weight: 500;
    }
  }
  & p {
    color: gray;
    font-size: 22px;
    max-width: 600px;
  }
  & .right {
    & .image {
      width: 600px;
      height: 400px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
  & button{
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
  }
}
