.footer{
    background-color: rgb(33, 37, 41);
    color: #fff;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & ul{
        display: flex;
        gap: 20px;
        list-style: none;
    }
    & a{
        color: #fff;
    }
}